extends ../dashboardlayout
block content
    .row
        .col-xs-4
        .col-xs-8
            .dropdown.pull-right
                a.dropdown-toggle(data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                    i.fa.fa-shopping-cart(aria-hidden='true')
                        Cart
                    if session.cart.totalItems
                    span
                        session.cart.totalItems

                .dropdown-menu
                    .cart
                        each #{session.cart.items}
                            .row
                                .col-xs-4
                                    this.item.title
                                .col-xs-4.text-right
                                    span.badge
                                    this.quantity
                                .col-xs-4.text-right
                                    this.price  €

                            .row
                                .text-right
                                    .totalPrice Total:
                                    #{session.cart.totalPrice} €
                                    a.btn.btn-success(href='/cart/') Proceed

