extends layout

block content
  h1= title
    h2 Welcome to The Garden App!
    p There are many reasons why it makes sense for community to come together as a group to help each other to produce local organic food. The Garden App has been put together to try to aid such a group of people in maintaining and running a community garden.

    p It is assumed that the group are using both a polytunnel with many sections of raised beds, each growing different types of food and also some adjacent space to grow outside.
    p To take advantage of technology in order to make the tasks of managing how the group succeeds in their work, The Garden App was conceived. Making use of modern web technologies and small internet connected microcomputers, it is possible to read the information from sensors placed around the polytunnel remotely over the internet, giving relevant information to the Volunteers about things such as the temperature and humidity within the growing space. Also, these small microcomputers may be connected to electrical switches, and so, this allows a Volunteer to do things such as turn on and off the irrigation system remotely. Where ever technology can be applied to reduce repetitive exercises the better the likelihood of the harvest's success. Through the information gained via the sensor information, the group have a better awareness about how the space and their results are doing.
    p The Garden App also makes use two calendar systems to help organise the garden and how the group manage it's running together. The scheduling of the crops and when they're tended to throughout their growth cycle is managed visually through the Crop Scheduler. The Events Calendar is a way for the group to follow events that are hosted at the polytunnel, such as regular attendance for upkeep of the garden, but also gatherings for workshops on specific topics and market events.
    | Once a person is interested in making use of The Garden App, all they must do is 'Signup', then they may access the 'Dashboard'.
    p Within the 'Dashboard' users may use the following tools:
    ul
        li Crop Scheduler
        li Events Calendar
        li Task List
        li Data / Internet of Things Page
        li Weather Forecast
        li Harvest List