extends layout

block content
  h1= title
    h2 Welcome to The Garden App Contact us page!
    p If you'd like further information, feel free to send your questions or requests to info@thegardenapp.com
