extends dashboardlayout

block content
    h1= title
    h2 Welcome to the Crop Scheduler page
    br
    br
    p The crop scheduler page serves a number of functions. First of all it allows any of the group to see when people are needed as they can see key points of the crop's growth cycle planned out. Secondly, it's being able to look back on past years plans, tied in with the Harvest List's data too, so that the group can learn from what they've done well in the past.
    | It is assumed that at first when the group sets up the garden and polytunnel, that they will recruit the experience of an experienced organic gardener to advice them on best practice in the areas of permaculture and planting regimes.
    | As the group progresses, their practice can become better informed by their own data, and this can be shared with other communities so as to effectively pass on their acquired knowledge
    .container
        iframe(width='100%' height='600' src='//jsfiddle.net/kenkozilla/21z97k83/embedded/result/dark/' allowfullscreen='allowfullscreen' allowpaymentrequest='' frameborder='0')

