doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    // Bootstrap CSS
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css', integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4', crossorigin='anonymous')
   
  body
  
  .header.container 
    .nav.site-header.py-1(style=" border-width:5px; border-top-style:solid; border-bottom-style:solid;")
      .container.d-flex.flex-column.flex-md-row.justify-content-between
       .row
        
        a.py-2.text-muted.d-none.d-md-inline-block(href='/') Home
        |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        a.py-2.text-muted.d-none.d-md-inline-block(href='/crop') Crop Scheduler
        |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        a.py-2.text-muted.d-none.d-md-inline-block(href='/events') Events Calendar
        |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        a.py-2.text-muted.d-none.d-md-inline-block(href='/task') Task List
        |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        a.py-2.text-muted.d-none.d-md-inline-block(href='/data') Data / IoT
        |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        a.py-2.text-muted.d-none.d-md-inline-block(href='/harvest') Harvest list
        |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        a.py-2.text-muted.d-none.d-md-inline-block(href='/users') Users / Staff page
        |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        a.py-2.text-muted.d-none.d-md-inline-block(href='/logout') Log-Out
    block content
