extends dashboardlayout

block content
  h1= title
  p Welcome to #{title}
  p This is Dashboard page 
  
  p This will use another layout.pug that will instead have menu items for /crop /task /data /harvest /events /users 
  | /home
  
  p By hitting /home the button the user would be brought back to the usual layout.pug and so would see the public facing
  | menu. They could come back to this layout via the /dashboard link.
