extends dashboardlayout

block content
    h1 Welcome to the Dashboard!

    p This is the part of The Garden App for Volunteer users. Here you can view the Crop Scheduler, Events Calendar, Task List,
    | Events Calendar, Task List, Data/ IOT page, Weather page, Harvest List, Users/Staff page and your Profile.
