extends dashboardlayout

block content
    head
        link(rel='stylesheet', href="../css/style.css", type="text/css")
        link(rel='stylesheet', href='dist/switchery.css')
        script(src='dist/switchery.js')
        script(src='https://code.jquery.com/jquery-3.1.1.min.js')
        script(src='http://code.highcharts.com/highcharts.js')
        script(src='http://code.highcharts.com/highcharts-more.js')
        script(src='http://code.highcharts.com/modules/exporting.js')


    body
        h1= title
        p Welcome to the Data / Internet of Things page
        p This is the section of The Garden App where you can remotely interact with the irrigation system and learn about the status of the environment in the polytunnel through the use of sensors, the Raspberry Pi micro-computer and Arduino micro-controllers.
        #containerWater1(style='width: 600px; height: 300px; margin: 0 auto')
        #containerWater2(style='width: 600px; height: 300px; margin: 0 auto')
        br
        br
        p This is the switch for the first water pump
        input.js-switch(type='checkbox', checked='')
        p This is the switch for the second water pump
        input.js-switch(type='checkbox', checked='')
        p This is the switch for the third water pump
        input.js-switch(type='checkbox', checked='')
        p This is the switch for the fourth water pump
        input.js-switch(type='checkbox', checked='')

        br
        br
        h2 This is the section for graphing sensor information
        p The graph below is a representation of data based on the temperature within the polytunnel.
        br
        br
        //#container(style='height: 400px')
        //    button#button.autocompare Add series


        #container(style='width: 600px; height: 300px; margin: 0 auto')
        #container2(style='width: 600px; height: 300px; margin: 0 auto')

        script.
            var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));

            elems.forEach(function (html) {
                var switchery = new Switchery(elems, {disabled: true});
                var switchery = new Switchery(html);

            });

        //script.
        //    var chart = Highcharts.chart('container', {
        //        xAxis: {
        //            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        //        },
        //        series: [{
        //            data: [29.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]
        //        }]
        //    });
        //
        //    // the button handler
        //    $('#button').click(function () {
        //        if (chart.series.length === 1) {
        //            chart.addSeries({
        //                data: [194.1, 95.6, 54.4, 29.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4]
        //            });
        //        }
        //    });
        script.
            $(function () {
                var chart = new Highcharts.Chart({

                        chart: {
                            renderTo: 'container',
                            type: 'gauge',
                            plotBorderWidth: 1,
                            plotBackgroundColor: {
                                linearGradient: {x1: 0, y1: 0, x2: 0, y2: 1},
                                stops: [
                                    [0, '#FFF4C6'],
                                    [0.3, '#FFFFFF'],
                                    [1, '#FFF4C6']
                                ]
                            },
                            plotBackgroundImage: null,
                            height: 200
                        },

                        title: {
                            text: 'Moisture Sensor Data Raised beds, Sections 1 & 2'
                        },

                        pane: [{
                            startAngle: -45,
                            endAngle: 45,
                            background: null,
                            center: ['25%', '145%'],
                            size: 300
                        }, {
                            startAngle: -45,
                            endAngle: 45,
                            background: null,
                            center: ['75%', '145%'],
                            size: 300
                        }],

                        yAxis: [{
                            min: -20,
                            max: 6,
                            minorTickPosition: 'outside',
                            tickPosition: 'outside',
                            labels: {
                                rotation: 'auto',
                                distance: 20
                            },
                            plotBands: [{
                                from: 0,
                                to: 6,
                                color: '#C02316',
                                innerRadius: '100%',
                                outerRadius: '105%'
                            }],
                            pane: 0,
                            title: {
                                text: 'Temperature<br/><span style="font-size:8px">Sensor A</span>',
                                y: -40
                            }
                        }, {
                            min: -20,
                            max: 6,
                            minorTickPosition: 'outside',
                            tickPosition: 'outside',
                            labels: {
                                rotation: 'auto',
                                distance: 20
                            },
                            plotBands: [{
                                from: 0,
                                to: 6,
                                color: '#C02316',
                                innerRadius: '100%',
                                outerRadius: '105%'
                            }],
                            pane: 1,
                            title: {
                                text: 'Humidity<br/><span style="font-size:8px">Sensor A</span>',
                                y: -40
                            }
                        }],

                        plotOptions: {
                            gauge: {
                                dataLabels: {
                                    enabled: false
                                },
                                dial: {
                                    radius: '100%'
                                }
                            }
                        },


                        series: [{
                            data: [-20],
                            yAxis: 0
                        }, {
                            data: [-20],
                            yAxis: 1
                        }]

                    },

                    // Let the music play
                    function (chart) {
                        setInterval(function () {
                            var left = chart.series[0].points[0],
                                right = chart.series[1].points[0],
                                leftVal,
                                inc = (Math.random() - 0.5) * 3;

                            leftVal = left.y + inc;
                            rightVal = leftVal + inc / 3;
                            if (leftVal < -20 || leftVal > 6) {
                                leftVal = left.y - inc;
                            }
                            if (rightVal < -20 || rightVal > 6) {
                                rightVal = leftVal;
                            }

                            left.update(leftVal, false);
                            right.update(rightVal, false);
                            chart.redraw();

                        }, 500);

                    });
            });
        script.
            $(function () {
                var chart = new Highcharts.Chart({

                        chart: {
                            renderTo: 'container2',
                            type: 'gauge',
                            plotBorderWidth: 1,
                            plotBackgroundColor: {
                                linearGradient: {x1: 0, y1: 0, x2: 0, y2: 1},
                                stops: [
                                    [0, '#FFF4C6'],
                                    [0.3, '#FFFFFF'],
                                    [1, '#FFF4C6']
                                ]
                            },
                            plotBackgroundImage: null,
                            height: 200
                        },

                        title: {
                            text: 'Moisture Sensor Data Raised beds, Sections 3 & 4'
                        },

                        pane: [{
                            startAngle: -45,
                            endAngle: 45,
                            background: null,
                            center: ['25%', '145%'],
                            size: 300
                        }, {
                            startAngle: -45,
                            endAngle: 45,
                            background: null,
                            center: ['75%', '145%'],
                            size: 300
                        }],

                        yAxis: [{
                            min: -20,
                            max: 6,
                            minorTickPosition: 'outside',
                            tickPosition: 'outside',
                            labels: {
                                rotation: 'auto',
                                distance: 20
                            },
                            plotBands: [{
                                from: 0,
                                to: 6,
                                color: '#C02316',
                                innerRadius: '100%',
                                outerRadius: '105%'
                            }],
                            pane: 0,
                            title: {
                                text: 'Temperature<br/><span style="font-size:8px">Sensor B</span>',
                                y: -40
                            }
                        }, {
                            min: -20,
                            max: 6,
                            minorTickPosition: 'outside',
                            tickPosition: 'outside',
                            labels: {
                                rotation: 'auto',
                                distance: 20
                            },
                            plotBands: [{
                                from: 0,
                                to: 6,
                                color: '#C02316',
                                innerRadius: '100%',
                                outerRadius: '105%'
                            }],
                            pane: 1,
                            title: {
                                text: 'Humidity<br/><span style="font-size:8px">Sensor B</span>',
                                y: -40
                            }
                        }],

                        plotOptions: {
                            gauge: {
                                dataLabels: {
                                    enabled: false
                                },
                                dial: {
                                    radius: '100%'
                                }
                            }
                        },


                        series: [{
                            data: [-20],
                            yAxis: 0
                        }, {
                            data: [-20],
                            yAxis: 1
                        }]

                    },

                    // Let the music play
                    function (chart) {
                        setInterval(function () {
                            var left = chart.series[0].points[0],
                                right = chart.series[1].points[0],
                                leftVal,
                                inc = (Math.random() - 0.5) * 3;

                            leftVal = left.y + inc;
                            rightVal = leftVal + inc / 3;
                            if (leftVal < -20 || leftVal > 6) {
                                leftVal = left.y - inc;
                            }
                            if (rightVal < -20 || rightVal > 6) {
                                rightVal = leftVal;
                            }

                            left.update(leftVal, false);
                            right.update(rightVal, false);
                            chart.redraw();

                        }, 500);

                    });
            });
        script.
            $(function () {
                var chart = new Highcharts.Chart({

                        chart: {
                            renderTo: 'container2',
                            type: 'gauge',
                            plotBorderWidth: 1,
                            plotBackgroundColor: {
                                linearGradient: {x1: 0, y1: 0, x2: 0, y2: 1},
                                stops: [
                                    [0, '#FFF4C6'],
                                    [0.3, '#FFFFFF'],
                                    [1, '#FFF4C6']
                                ]
                            },
                            plotBackgroundImage: null,
                            height: 200
                        },

                        title: {
                            text: 'Sensor Data'
                        },

                        pane: [{
                            startAngle: -45,
                            endAngle: 45,
                            background: null,
                            center: ['25%', '145%'],
                            size: 300
                        }, {
                            startAngle: -45,
                            endAngle: 45,
                            background: null,
                            center: ['75%', '145%'],
                            size: 300
                        }],

                        yAxis: [{
                            min: -20,
                            max: 6,
                            minorTickPosition: 'outside',
                            tickPosition: 'outside',
                            labels: {
                                rotation: 'auto',
                                distance: 20
                            },
                            plotBands: [{
                                from: 0,
                                to: 6,
                                color: '#C02316',
                                innerRadius: '100%',
                                outerRadius: '105%'
                            }],
                            pane: 0,
                            title: {
                                text: 'Temperature<br/><span style="font-size:8px">Sensor B</span>',
                                y: -40
                            }
                        }, {
                            min: -20,
                            max: 6,
                            minorTickPosition: 'outside',
                            tickPosition: 'outside',
                            labels: {
                                rotation: 'auto',
                                distance: 20
                            },
                            plotBands: [{
                                from: 0,
                                to: 6,
                                color: '#C02316',
                                innerRadius: '100%',
                                outerRadius: '105%'
                            }],
                            pane: 1,
                            title: {
                                text: 'Humidity<br/><span style="font-size:8px">Sensor B</span>',
                                y: -40
                            }
                        }],

                        plotOptions: {
                            gauge: {
                                dataLabels: {
                                    enabled: false
                                },
                                dial: {
                                    radius: '100%'
                                }
                            }
                        },


                        series: [{
                            data: [-20],
                            yAxis: 0
                        }, {
                            data: [-20],
                            yAxis: 1
                        }]

                    },

                    // Let the music play
                    function (chart) {
                        setInterval(function () {
                            var left = chart.series[0].points[0],
                                right = chart.series[1].points[0],
                                leftVal,
                                inc = (Math.random() - 0.5) * 3;

                            leftVal = left.y + inc;
                            rightVal = leftVal + inc / 3;
                            if (leftVal < -20 || leftVal > 6) {
                                leftVal = left.y - inc;
                            }
                            if (rightVal < -20 || rightVal > 6) {
                                rightVal = leftVal;
                            }

                            left.update(leftVal, false);
                            right.update(rightVal, false);
                            chart.redraw();

                        }, 500);

                    });
            });
        script.
            $(function () {
                var chart = new Highcharts.Chart({

                        chart: {
                            renderTo: 'container2',
                            type: 'gauge',
                            plotBorderWidth: 1,
                            plotBackgroundColor: {
                                linearGradient: {x1: 0, y1: 0, x2: 0, y2: 1},
                                stops: [
                                    [0, '#FFF4C6'],
                                    [0.3, '#FFFFFF'],
                                    [1, '#FFF4C6']
                                ]
                            },
                            plotBackgroundImage: null,
                            height: 200
                        },

                        title: {
                            text: 'Sensor Data'
                        },

                        pane: [{
                            startAngle: -45,
                            endAngle: 45,
                            background: null,
                            center: ['25%', '145%'],
                            size: 300
                        }, {
                            startAngle: -45,
                            endAngle: 45,
                            background: null,
                            center: ['75%', '145%'],
                            size: 300
                        }],

                        yAxis: [{
                            min: -20,
                            max: 6,
                            minorTickPosition: 'outside',
                            tickPosition: 'outside',
                            labels: {
                                rotation: 'auto',
                                distance: 20
                            },
                            plotBands: [{
                                from: 0,
                                to: 6,
                                color: '#C02316',
                                innerRadius: '100%',
                                outerRadius: '105%'
                            }],
                            pane: 0,
                            title: {
                                text: 'Temperature<br/><span style="font-size:8px">Sensor B</span>',
                                y: -40
                            }
                        }, {
                            min: -20,
                            max: 6,
                            minorTickPosition: 'outside',
                            tickPosition: 'outside',
                            labels: {
                                rotation: 'auto',
                                distance: 20
                            },
                            plotBands: [{
                                from: 0,
                                to: 6,
                                color: '#C02316',
                                innerRadius: '100%',
                                outerRadius: '105%'
                            }],
                            pane: 1,
                            title: {
                                text: 'Humidity<br/><span style="font-size:8px">Sensor B</span>',
                                y: -40
                            }
                        }],

                        plotOptions: {
                            gauge: {
                                dataLabels: {
                                    enabled: false
                                },
                                dial: {
                                    radius: '100%'
                                }
                            }
                        },


                        series: [{
                            data: [-20],
                            yAxis: 0
                        }, {
                            data: [-20],
                            yAxis: 1
                        }]

                    },

                    // Let the music play
                    function (chart) {
                        setInterval(function () {
                            var left = chart.series[0].points[0],
                                right = chart.series[1].points[0],
                                leftVal,
                                inc = (Math.random() - 0.5) * 3;

                            leftVal = left.y + inc;
                            rightVal = leftVal + inc / 3;
                            if (leftVal < -20 || leftVal > 6) {
                                leftVal = left.y - inc;
                            }
                            if (rightVal < -20 || rightVal > 6) {
                                rightVal = leftVal;
                            }

                            left.update(leftVal, false);
                            right.update(rightVal, false);
                            chart.redraw();

                        }, 500);

                    });
            });
        script.
            $(function () {
                var chart = new Highcharts.Chart({

                        chart: {
                            renderTo: 'container2',
                            type: 'gauge',
                            plotBorderWidth: 1,
                            plotBackgroundColor: {
                                linearGradient: {x1: 0, y1: 0, x2: 0, y2: 1},
                                stops: [
                                    [0, '#FFF4C6'],
                                    [0.3, '#FFFFFF'],
                                    [1, '#FFF4C6']
                                ]
                            },
                            plotBackgroundImage: null,
                            height: 200
                        },

                        title: {
                            text: 'Sensor Data'
                        },

                        pane: [{
                            startAngle: -45,
                            endAngle: 45,
                            background: null,
                            center: ['25%', '145%'],
                            size: 300
                        }, {
                            startAngle: -45,
                            endAngle: 45,
                            background: null,
                            center: ['75%', '145%'],
                            size: 300
                        }],

                        yAxis: [{
                            min: -20,
                            max: 6,
                            minorTickPosition: 'outside',
                            tickPosition: 'outside',
                            labels: {
                                rotation: 'auto',
                                distance: 20
                            },
                            plotBands: [{
                                from: 0,
                                to: 6,
                                color: '#C02316',
                                innerRadius: '100%',
                                outerRadius: '105%'
                            }],
                            pane: 0,
                            title: {
                                text: 'Temperature<br/><span style="font-size:8px">Sensor B</span>',
                                y: -40
                            }
                        }, {
                            min: -20,
                            max: 6,
                            minorTickPosition: 'outside',
                            tickPosition: 'outside',
                            labels: {
                                rotation: 'auto',
                                distance: 20
                            },
                            plotBands: [{
                                from: 0,
                                to: 6,
                                color: '#C02316',
                                innerRadius: '100%',
                                outerRadius: '105%'
                            }],
                            pane: 1,
                            title: {
                                text: 'Humidity<br/><span style="font-size:8px">Sensor B</span>',
                                y: -40
                            }
                        }],

                        plotOptions: {
                            gauge: {
                                dataLabels: {
                                    enabled: false
                                },
                                dial: {
                                    radius: '100%'
                                }
                            }
                        },


                        series: [{
                            data: [-20],
                            yAxis: 0
                        }, {
                            data: [-20],
                            yAxis: 1
                        }]

                    },

                    // Let the music play
                    function (chart) {
                        setInterval(function () {
                            var left = chart.series[0].points[0],
                                right = chart.series[1].points[0],
                                leftVal,
                                inc = (Math.random() - 0.5) * 3;

                            leftVal = left.y + inc;
                            rightVal = leftVal + inc / 3;
                            if (leftVal < -20 || leftVal > 6) {
                                leftVal = left.y - inc;
                            }
                            if (rightVal < -20 || rightVal > 6) {
                                rightVal = leftVal;
                            }

                            left.update(leftVal, false);
                            right.update(rightVal, false);
                            chart.redraw();

                        }, 500);

                    });
            });
        script.
            $(function () {
                var chart = new Highcharts.Chart({

                        chart: {
                            renderTo: 'containerWater1',
                            type: 'gauge',
                            plotBorderWidth: 1,
                            plotBackgroundColor: {
                                linearGradient: {x1: 0, y1: 0, x2: 0, y2: 1},
                                stops: [
                                    [0, '#FFF4C6'],
                                    [0.3, '#FFFFFF'],
                                    [1, '#FFF4C6']
                                ]
                            },
                            plotBackgroundImage: null,
                            height: 200
                        },

                        title: {
                            text: 'Sensor Data'
                        },

                        pane: [{
                            startAngle: -45,
                            endAngle: 45,
                            background: null,
                            center: ['25%', '145%'],
                            size: 300
                        }, {
                            startAngle: -45,
                            endAngle: 45,
                            background: null,
                            center: ['75%', '145%'],
                            size: 300
                        }],

                        yAxis: [{
                            min: -20,
                            max: 6,
                            minorTickPosition: 'outside',
                            tickPosition: 'outside',
                            labels: {
                                rotation: 'auto',
                                distance: 20
                            },
                            plotBands: [{
                                from: 0,
                                to: 6,
                                color: '#C02316',
                                innerRadius: '100%',
                                outerRadius: '105%'
                            }],
                            pane: 0,
                            title: {
                                text: 'Raised beds section 1<br/><span style="font-size:8px">Moisture Sensor 1</span>',
                                y: -40
                            }
                        }, {
                            min: -20,
                            max: 6,
                            minorTickPosition: 'outside',
                            tickPosition: 'outside',
                            labels: {
                                rotation: 'auto',
                                distance: 20
                            },
                            plotBands: [{
                                from: 0,
                                to: 6,
                                color: '#C02316',
                                innerRadius: '100%',
                                outerRadius: '105%'
                            }],
                            pane: 1,
                            title: {
                                text: 'Raised beds section 2<br/><span style="font-size:8px">Moisture Sensor 2</span>',
                                y: -40
                            }
                        }],

                        plotOptions: {
                            gauge: {
                                dataLabels: {
                                    enabled: false
                                },
                                dial: {
                                    radius: '100%'
                                }
                            }
                        },


                        series: [{
                            data: [-20],
                            yAxis: 0
                        }, {
                            data: [-20],
                            yAxis: 1
                        }]

                    },

                    // Let the music play
                    function (chart) {
                        setInterval(function () {
                            var left = chart.series[0].points[0],
                                right = chart.series[1].points[0],
                                leftVal,
                                inc = (Math.random() - 0.5) * 3;

                            leftVal = left.y + inc;
                            rightVal = leftVal + inc / 3;
                            if (leftVal < -20 || leftVal > 6) {
                                leftVal = left.y - inc;
                            }
                            if (rightVal < -20 || rightVal > 6) {
                                rightVal = leftVal;
                            }

                            left.update(leftVal, false);
                            right.update(rightVal, false);
                            chart.redraw();

                        }, 500);

                    });
            });
        script.
            $(function () {
                var chart = new Highcharts.Chart({

                        chart: {
                            renderTo: 'containerWater2',
                            type: 'gauge',
                            plotBorderWidth: 1,
                            plotBackgroundColor: {
                                linearGradient: {x1: 0, y1: 0, x2: 0, y2: 1},
                                stops: [
                                    [0, '#FFF4C6'],
                                    [0.3, '#FFFFFF'],
                                    [1, '#FFF4C6']
                                ]
                            },
                            plotBackgroundImage: null,
                            height: 200
                        },

                        title: {
                            text: 'Sensor Data'
                        },

                        pane: [{
                            startAngle: -45,
                            endAngle: 45,
                            background: null,
                            center: ['25%', '145%'],
                            size: 300
                        }, {
                            startAngle: -45,
                            endAngle: 45,
                            background: null,
                            center: ['75%', '145%'],
                            size: 300
                        }],

                        yAxis: [{
                            min: -20,
                            max: 6,
                            minorTickPosition: 'outside',
                            tickPosition: 'outside',
                            labels: {
                                rotation: 'auto',
                                distance: 20
                            },
                            plotBands: [{
                                from: 0,
                                to: 6,
                                color: '#C02316',
                                innerRadius: '100%',
                                outerRadius: '105%'
                            }],
                            pane: 0,
                            title: {
                                text: 'Raised beds section 3<br/><span style="font-size:8px">Moisture Sensor 3</span>',
                                y: -40
                            }
                        }, {
                            min: -20,
                            max: 6,
                            minorTickPosition: 'outside',
                            tickPosition: 'outside',
                            labels: {
                                rotation: 'auto',
                                distance: 20
                            },
                            plotBands: [{
                                from: 0,
                                to: 6,
                                color: '#C02316',
                                innerRadius: '100%',
                                outerRadius: '105%'
                            }],
                            pane: 1,
                            title: {
                                text: 'Raised beds section 4<br/><span style="font-size:8px">Moisture Sensor 4</span>',
                                y: -40
                            }
                        }],

                        plotOptions: {
                            gauge: {
                                dataLabels: {
                                    enabled: false
                                },
                                dial: {
                                    radius: '100%'
                                }
                            }
                        },


                        series: [{
                            data: [-20],
                            yAxis: 0
                        }, {
                            data: [-20],
                            yAxis: 1
                        }]

                    },

                    // Let the music play
                    function (chart) {
                        setInterval(function () {
                            var left = chart.series[0].points[0],
                                right = chart.series[1].points[0],
                                leftVal,
                                inc = (Math.random() - 0.5) * 3;

                            leftVal = left.y + inc;
                            rightVal = leftVal + inc / 3;
                            if (leftVal < -20 || leftVal > 6) {
                                leftVal = left.y - inc;
                            }
                            if (rightVal < -20 || rightVal > 6) {
                                rightVal = leftVal;
                            }

                            left.update(leftVal, false);
                            right.update(rightVal, false);
                            chart.redraw();

                        }, 500);

                    });
            });
