extends dashboardlayout

block content
  h1= title
  p Welcome to #{title}
  p This is the Harvest list Edit page 
  
  p This page allows the user to edit an existing harvest list post.
  
  p There will also be links to page to View (harvest.pug), Create (harvest_create.pug) and Delete (harvest_delete.pug) entries to the Harvest list
