extends layout
block content
    .row
     h1 Hi, welcome to #{title}
     |Please Log-In to your account 
     .formHold
      form(method="post")
        fieldset
         label(for="name") User Name:
         input(name="name", type="text", placeholder="Who Are You") 
         label(for="password") Password Address:
         input(name="password", type="text", placeholder="Please enter a password")
         button.button(type="submit") Log-In
         // LOGIN FORM
        form(action="/login" method="post")
          .form-group
            label Email
            input.form-control(type="text" name="email")
          .form-group
            label Password
            input.form-control(type="password" name="password")
          button.btn.btn-warning.btn-lg(type="submit") Login
        hr
        p
          | Need an account? 
          a(href="/register") Register
        p
          | Or go 
          a(href="/") home
          | .
        
// views/login.ejs converted to Pug

    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")
    // load bootstrap css
    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
    // load fontawesome style.
    .container
      .col-sm-6.col-sm-offset-3
        h1
          span.fa.fa-sign-in
          |  Login
          
    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
        
