extends layout
block content
    .row
     h1 Hi, welcome to #{title}
     |Please Log-In to your account 
     //show any messages that come back with authentication 
     script.
        if (message.length > 0) 
            .alert.alert-danger(message) 
         
     // LOGIN FORM
     form(action="/login" method="post")
          .form-group
            label Email
            input.form-control(type="text" name="email")
          .form-group
            label Password
            input.form-control(type="password" name="password")
          button.btn.btn-warning.btn-lg(type="submit") Login
             hr
          p
          | Need an account? 
          a(href="/Signup") Signup
          p
          | Or go 
          a(href="/") home
          | .