extends dashboardlayout

block content
    .row
    .container
        .item
            h1
                span.fa.fas-atom
                |  Profile Page
            a.btn.btn-default.btn-sm(href='/logout') Logout
        .row
            h2 You have successfully registered to The Garden App!
            h2 Now you have access to the 'Dashboard' and the tools it provides to help with the Garden!