extends layout
block content
    row
    h1 Hi, welcome to #{title}
    |Please create an account to become a Volunteer user
    
    //show any messages that come back with authentication 
    script.
      if (message.length > 0) {
          .alert.alert-danger(message) 
      } 

    form(action="/signup" method="post")
      .form-group
        label Email
        input.form-control(type="text" name="email")
      .form-group
        label Password
        input.form-control(type="password" name="password")
      button.btn.btn-warning.btn-lg(type="submit") Signup
    hr
    p
      | Already have an account? 
      a(href="/login") Login
    p
      | Or go 
      a(href="/") home
      | .