extends dashboardlayout

block content
    h1 Welcome to the Task List page


    a(href='/task_create') Create Task list item


    .row
        .holder

            each row in resTA
                .item
                    h1.itemtitle #{row.Type}
                    .itemp Description: #{row.Description}
                    .itemp Posted by: #{row.Username}
                    a.button(href='/task_item/' + row.Id + '') Show
                    a.button(href='/task_edit/' + row.Id + '') -Edit
                    a.button(href='/task_delete/' + row.Id + '') -Delete #{row.Name}
