extends dashboardlayout

block content
  h1= title
  p Welcome to #{title}
  p This is Task List page 
  
  p This will have a CRUD facility for the group to indicate what tasks need to be tended to around the garden.
  
  
  
  
  a(href='/task_create') Create Task list item
  br
  a(href='/task_edit') Edit Task list item
  br
  a(href='/task_delete') Delete Task list item
  br
  a(href='/task') View Task list items
