extends dashboardlayout
block content
    head
        link(rel='stylesheet', href="../css/style.css", type="text/css")
    body
        iframe(width='100%' height='450' src='//jsfiddle.net/kenkozilla/08t6dkpo/20/embedded/result/dark/' allowfullscreen='allowfullscreen' allowpaymentrequest='' frameborder='0')


